<script> var collapsed = 0;</script> 
{%- assign first_page = pages[section.settings.tab_page_1_handle] -%}
{%- assign second_page = pages[section.settings.tab_page_2_handle] -%}
{%- assign first_custom_page = '' -%}
{%- assign second_custom_page = '' -%}

{%- comment -%}
  We allow to add two tabs that are extracted using the tag system. To add such a tag, simply create a page and
  note the handle somewhere.
  Next, add a tag to your product in this form: __tab1:page-handle or __tab2:page-handle
  The theme will automatically link the tab to the page
{%- endcomment -%}

{%- assign has_unique_tab_1 = false -%}
{%- assign has_unique_tab_2 = false -%}

{%- comment -%}First, check the metafields{%- endcomment -%}

{%- if product.metafields.sf_product_tabs.tab_1_title != blank and product.metafields.sf_product_tabs.tab_1_content != blank -%}
  {%- assign unique_tab_1_title = product.metafields.sf_product_tabs.tab_1_title -%}
  {%- assign unique_tab_1_content = product.metafields.sf_product_tabs.tab_1_content -%}
  {%- assign has_unique_tab_1 = true -%}
{%- endif -%}

{%- if product.metafields.sf_product_tabs.tab_2_title != blank and product.metafields.sf_product_tabs.tab_2_content != blank -%}
  {%- assign unique_tab_2_title = product.metafields.sf_product_tabs.tab_2_title -%}
  {%- assign unique_tab_2_content = product.metafields.sf_product_tabs.tab_2_content -%}
  {%- assign has_unique_tab_2 = true -%}
{%- endif -%}

{%- comment -%}Then, let's try the tags{%- endcomment -%}

{%- for tag in product.tags -%}
  {%- if tag contains '__tab1' -%}
    {%- assign first_custom_page = tag | split: ':' | last -%}
    {%- assign first_custom_page = pages[first_custom_page] -%}

    {%- assign unique_tab_1_title = first_custom_page.title -%}
    {%- assign unique_tab_1_content = first_custom_page.content -%}
    {%- assign has_unique_tab_1 = true -%}
  {%- endif -%}

  {%- if tag contains '__tab2' -%}
    {%- assign second_custom_page = tag | split: ':' | last -%}
    {%- assign second_custom_page = pages[second_custom_page] -%}

    {%- assign unique_tab_2_title = second_custom_page.title -%}
    {%- assign unique_tab_2_content = second_custom_page.content -%}
    {%- assign has_unique_tab_2 = true -%}
  {%- endif -%}
{%- endfor -%}

{%- if first_page.handle != blank or second_page.handle != blank or has_unique_tab_1 or has_unique_tab_2 or section.settings.reviews_enabled -%}
  <div class="Product__Tabs">
    {%- if has_unique_tab_1 -%}
      <div class="Collapsible Collapsible--large">
        <button  class="Collapsible__Button Heading u-h6" data-action="toggle-collapsible" aria-expanded="false">
          {{- unique_tab_1_title -}} <span class="Collapsible__Plus"></span>
        </button>

        <div class="Collapsible__Inner">
          <div class="Collapsible__Content">
            <div class="Rte">
              {{- unique_tab_1_content -}}
            </div>
          </div>
        </div>
      </div>
    {%- endif -%}

    {%- if has_unique_tab_2 -%}
      <div class="Collapsible Collapsible--large">
        <button class="Collapsible__Button Heading u-h6" data-action="toggle-collapsible" aria-expanded="false">
          {{- unique_tab_2_title -}} <span class="Collapsible__Plus"></span>
        </button>

        <div class="Collapsible__Inner">
          <div class="Collapsible__Content">
            <div class="Rte">
              {{- unique_tab_2_content -}}
            </div>
          </div>
        </div>
      </div>
    {%- endif -%}
    {%- if section.settings.show_payment_button and selected_variant.available == false -%}
  <style>
    #shopify-section-{{ section.id }} .shopify-payment-button {
      display: none;
    }
  </style>
{%- endif -%}


<div  class="Collapsible Collapsible--large">
    {%- comment -%}We parse from metafields the number of reviews{%- endcomment -%}
    {%- assign reviews_count = product.metafields.spr.reviews | split: '<meta itemprop="reviewCount" content="' | last | split: '">' | first | times: 1 -%}

    <button id = "review-btn1" class="Collapsible__Button Heading u-h6" data-action="toggle-collapsible" aria-expanded="false" onclick="">
      <span>Product specifications </span></span>
      <span class="Collapsible__Plus"></span>
    </button>
    
    <div id= "Collapsible__Inner-reviews" class="Collapsible__Inner">
      <div id="Collapsible-reviews1" class="Collapsible__Content">
        <div>{{ product.description }}</div>
      </div>
    </div>
  </div>

  <style>
    @media only screen and (min-width: 600px) {
      #Collapsible-reviews1{
        overflow-y : auto;
        max-height: 1000px;
    
      }
      #Collapsible__Inner-reviews{
        overflow-y : auto;
        width: 120%;
      }
    }
    #CCollapsible-reviews1{
      
      display:none;
      
    }


  </style>
  <script>
    document.getElementById("review-btn").addEventListener("click", collapse1);
    
    function collapse1() {
      if (collapsed){
      
        document.getElementById("Collapsible-reviews1").style.display = "none";
        console.log("decollapsed")
        collapsed = false;
      }
    
      else {
        
      document.getElementById("Collapsible-reviews1").style.display = "block";
      console.log("collapsed")
      collapsed = true;
    }};
    </script>
  
    

  



    {%- if first_page != empty -%}
      <div class="Collapsible Collapsible--large">
        <button class="Collapsible__Button Heading u-h6" data-action="toggle-collapsible" aria-expanded="false">
          {{- first_page.title -}} <span class="Collapsible__Plus"></span>
        </button>

        <div class="Collapsible__Inner">
          <div class="Collapsible__Content">
            <div class="Rte">
              {{- first_page.content -}}
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    {%- if second_page != empty -%}
      <div class="Collapsible Collapsible--large">
        <button class="Collapsible__Button Heading u-h6" data-action="toggle-collapsible" aria-expanded="false">
          {{- second_page.title -}} <span class="Collapsible__Plus"></span>
        </button>

        <div class="Collapsible__Inner">
          <div class="Collapsible__Content">
            <div class="Rte">
              {{- second_page.content -}}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
   
    {%- if section.settings.reviews_enabled -%}
      <div class="Collapsible Collapsible--large">
        {%- comment -%}We parse from metafields the number of reviews{%- endcomment -%}
        {%- assign reviews_count = product.metafields.spr.reviews | split: '<meta itemprop="reviewCount" content="' | last | split: '">' | first | times: 1 -%}

        <button id = "review-btn" class="Collapsible__Button Heading u-h6" data-action="toggle-collapsible" aria-expanded="false" onclick="">
          <span>{{ 'product.tabs.reviews' | t }} </span></span>
          <span class="Collapsible__Plus"></span>
        </button>
        
        <div id= "Collapsible__Inner-reviews" class="Collapsible__Inner">
          <div id="Collapsible-reviews" class="Collapsible__Content">
            <div>{% render 'a2reviews-widget' product:product %}</div>
          </div>
        </div>
      </div>

      <style>
        @media only screen and (min-width: 600px) {
          #Collapsible-reviews{
            overflow-y : auto;
            max-height: 1000px;
        
          }
          #Collapsible__Inner-reviews{
            overflow-y : auto;
            width: 120%;
          }
        }
        #Collapsible-reviews{
          
          display:none;
          
        }


      </style>
      <script>
        document.getElementById("review-btn").addEventListener("click", collapse);
        
        function collapse() {
          if (collapsed){
          
            document.getElementById("Collapsible-reviews").style.display = "none";
            console.log("decollapsed")
            collapsed = false;
          }
        
          else {
            
          document.getElementById("Collapsible-reviews").style.display = "block";
          console.log("collapsed")
          collapsed = true;
        }};
        </script>
    {%- endif -%}
  </div>
{%- endif -%}